
@font-face {
  font-family: 'Dogica';
  src: url('../public/fonts/dogica.ttf') format('truetype'),
      
}



body{
  margin: 0px;
  padding: 0px;
  background: black;
}


.fallen-iris-nav{
  top:83%;
  left:50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

.nav-link-mansion-intro{
  margin: 40px;
  padding: 8px 24px;
  font-family: 'Dogica';
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  top: 50%;           
  left: 50%;          
  transform: translate(-50%, -50%) scale(1); 
  z-index: 2;
}

.nav-link-mansion-intro:hover{
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transform: translate(-50%, 500%) scale(1.05); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav-link-fatal-iris{
  
  margin: 40px;
  padding: 8px 24px;
  font-family: 'Dogica';
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  top: 50%;           
  left: 50%;          
  transform: translate(-50%, -50%) scale(1); 
  z-index: 2;
}

.nav-link-fatal-iris:hover{
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transform: translate(-50%, 500%) scale(1.05); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav-link-leaderboard{
  margin: 40px;
  padding: 8px 24px;
  font-family: 'Dogica';
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  top: 50%;           
  left: 50%;          
  transform: translate(-50%, -50%) scale(1); 
  z-index: 2;
}

.nav-link-leaderboard:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transform: translate(-50%, 500%) scale(1.05); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.landing-container{
  position: relative;
}

.landing-container {
  position: relative;
  width: 100vw;
  height: 100vh; /* This ensures it takes up the full viewport */
  overflow: hidden; /* In case any content overflows */
}

.game-title {
  font-family: 'Dogica';
  text-align: center;
  color: black;
  font-size: 70px;
  z-index: 10;
  position: absolute;
  top: 20%; /* Adjust this value to move it up/down */
  left: 50%;
  transform: translate(-50%, -200%);
  width: 100%;
}


/* .enter-button {
  padding: 8px 24px;
  font-family: 'Dogica';
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;           
  left: 50%;          
  transform: translate(-50%, 500%) scale(1); 
  z-index: 2;
}

.enter-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transform: translate(-50%, 500%) scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} */



.fallen-iris-container{
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
  position: absolute;
  transform: translate(0%, 10%);
}

.fallen-iris-image{
  border-radius: 40px;
}


.story-intro-container {
  position: relative;
  z-index: 3;  /* Higher than your mansion image */
  color: white;  /* Or another color that will show up on your background */
  width: 80%;   /* Or whatever width you want */
  margin: 0 auto;
  padding: 20px;
  max-width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.story-intro-container .typewriter-text{
    position: absoluute;
    top: 50%;
    left: 50%;
    transform: translate(7%, 0%);
    min-height: 150px;
    min-width: 820px;
}


.mansion-container{
  position: relative;
  width: 100vw;
  height: 100vh;

}

.mansion-image{
  object-fit: cover;
  position:absolute;
  width: 50%;
  height: auto;
  text-align: center;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
}


.skip-button {
  padding: 8px 24px;
  font-family: 'Dogica';
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;           
  left: 50%;          
  transform: translate(-50%, 400%) scale(1);
  z-index: 2;
}

.skip-button:hover {
  background-color: transparent;
  color: #fff;
  transform: translate(-50%, 400%) scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}


.typewriter-text {
  font-family: monospace; /* For that typewriter feel */
  font-size: 1.2em;  /* Adjust size as needed */
  line-height: 1.6;
  white-space: pre-wrap;  /* This preserves line breaks */
  background-color: rgba(0, 0, 0, 0.8);
  width: 80%;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
  padding: 20px 40px;
  color:white;
  text-align: left;
}

.cursor {
  display: inline-block;
  width: 3px;
  height: 1em;
  background: white;
  margin-left: 2px;
  animation: blink 1s infinite;
  
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}



.solve-button {
  padding: 8px 24px;
  font-family: 'Dogica';
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 20%;           
  left: 50%;          
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  cursor: pointer;
}

.solve-button:hover {
  background-color: transparent;
  color: #fff;
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}


.solve-container{
  /* background-color: rgb(255,255,255, 0.5); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  min-width: 800px;
  text-align: left;
}

.continue-button{
  padding: 8px 24px;
  font-family: 'Dogica';
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 120%;           
  left: 60%;          
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  cursor: pointer;
}

.continue-button:hover {
  background-color: transparent;
  color: #fff;
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}


.back-button{
  padding: 8px 24px;
  font-family: 'Dogica';
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 120%;           
  left: 25%;          
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  cursor: pointer;
}

.back-button:hover {
  background-color: transparent;
  color: #fff;
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}


.solve-container TypewriterText{
  color: white;
}

.room-grid{
  align-items: center;
  align-content: center;
  text-align: center;
  position: inline-block;
  transform: translate(0%, 60%);
  top: 50%;
  left: 50%;
}

.room-button{
  border: none;
  border-radius: 20px;
  height: 100%;
  line-height: 0;
  background: none;
  padding: 80px;
  display: inline-block;
  width: fit-content;  /* This will make the button wrap to its content */
  display: inline-flex;
  
}

.room-button img{
  border-radius: 20px;
  height: 30vh;
  padding: 0;
  cursor: pointer;
  display: block;
  object-fit: contain;
}

.room-screen{
  position: absolute;
  padding: 0px;
  text-align: center;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%)

}

.room-image img{
  border-radius: 50px;
  margin-top: 5%;
}

.exit-button {
  padding: 8px 24px;
  font-family: 'Dogica';
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 6%;           
  left: 50%;          
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  cursor: pointer;
}

.exit-button:hover {
  background-color: transparent;
  color: #fff;
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}


.clue-button {
  background: none;
  border: none;
  cursor: zoom-in;
  padding: 50px;
  transition: transform 0.2s;
  z-index: 10;
  position: relative;
}

.clue-button:hover {
  transform: scale(1.2);
}

h3 {
  font-family: 'Dogica';
  font-size: 20px;
}

.clue-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 20px;
  color: white;
  z-index: 3;
  min-width: 480px;
  min-height: 620px;
}

.clue-modal img {
  max-width: 300px;
  border-radius: 20px;
}


.clueCloseButton {
  padding: 8px 24px;
  font-family: 'Dogica';
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 95%;           
  left: 50%;          
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  cursor: pointer;
}

.inventory-panel{
  /* background: rgb(255, 255, 255, 0.5); */
  z-index: 15;
  position: absolute;
  top: 20%;
  left: 105%;
  max-width: 400px;
  transform: translate(0%, 0%);
  min-width: 400px;
  min-height: 700px;

}

.inventory-panel h3{
  color: white;
}

.inventory-item h3{
  font-size: 15px;
}

.inventory-item p{
  color: white;
  font-family: 'Dogica';
  font-size: 13px;
  text-align: left;
  line-height: 20px;
}


.submit-container{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  
}

.input{
  background-color: rgb(255,255,255,0.2);
  border: none;
  color: white;
  margin: 20px;
  font-family: 'Dogica';
  padding: 10px;
}

.close-investigation{
  padding: 8px 24px;
  font-family: 'Dogica';
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 200%;           
  left: 50%;          
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  cursor: pointer;
}

.close-investigation:hover{
  background-color: transparent;
  color: #fff;
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.error-message{
  color: white;
  position:absolute;
  transform:translate(-50%, -50%);
  top:100%;
  left:50%;
  font-family: 'Dogica';
  font-size: 18px;
}


.score-results{
  /* background-color: rgba(255, 255, 255, 0.2); */
  min-width: 400px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-family: 'Dogica';
  color: white;
}

.victoria img{
  position: absolute;
  top: 50%;
  left:50%;
  width: 400px;
  height: auto;
  transform: translate(-200%, -50%);
  border-radius: 30px;

}

.victoria p{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-182%, 75%);
  min-width: 450px;
  text-align: center;
  font-size: 14px;
  text-align: justify;
}

.crystal img{
  position: absolute;
  top: 50%;
  left:50%;
  width: 400px;
  height: auto;
  transform: translate(90%, -50%);
  border-radius: 30px;
}

.crystal p{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(75%, 105%);
  min-width: 450px;
  text-align: center;
  font-size: 14px;
  text-align: justify;
}

.leaderboard-solve-button{
  padding: 8px 24px;
  font-family: 'Dogica';
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 150%;           
  left: 45%;          
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  cursor: pointer;
}

.leaderboard-solve-button:hover{
  background-color: transparent;
  color: #fff;
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}


.leaderboard-container{
  color: white;
  /* background-color: rgb(255,0,0,0.5); */
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
  position: absolute;
  line-height: 60px;
  font-size: 30px;
  font-family: 'Dogica';
  text-align: center;
}

.leaderboard-container h3{
  font-size: 50px;
}

ol {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

li {
  display: contents;
}

li > span {
  /* for each column */
  padding: 5px;
}